<p id="notice"><%= notice %></p>

<p>
  <strong>Settings timestamp:</strong>
  <%= @system_setting.settings_timestamp %>
</p>

<p>
  <strong>Settings airplane mode:</strong>
  <%= @system_setting.settings_airplane_mode %>
</p>

<p>
  <strong>Settings bluetooth:</strong>
  <%= @system_setting.settings_bluetooth %>
</p>

<p>
  <strong>Settings data roaming:</strong>
  <%= @system_setting.settings_data_roaming %>
</p>

<p>
  <strong>Settings development settings enabled:</strong>
  <%= @system_setting.settings_development_settings_enabled %>
</p>

<p>
  <strong>Settings http proxy:</strong>
  <%= @system_setting.settings_http_proxy %>
</p>

<p>
  <strong>Settings mode ringer:</strong>
  <%= @system_setting.settings_mode_ringer %>
</p>

<p>
  <strong>Settings volume alarm:</strong>
  <%= @system_setting.settings_volume_alarm %>
</p>

<p>
  <strong>Settings volume music:</strong>
  <%= @system_setting.settings_volume_music %>
</p>

<p>
  <strong>Settings volume notification:</strong>
  <%= @system_setting.settings_volume_notification %>
</p>

<p>
  <strong>Settings volume ring:</strong>
  <%= @system_setting.settings_volume_ring %>
</p>

<p>
  <strong>Settings volume system:</strong>
  <%= @system_setting.settings_volume_system %>
</p>

<p>
  <strong>Settings volume voice:</strong>
  <%= @system_setting.settings_volume_voice %>
</p>

<p>
  <strong>Settings network preference:</strong>
  <%= @system_setting.settings_network_preference %>
</p>

<p>
  <strong>Settings stay on while plugged in:</strong>
  <%= @system_setting.settings_stay_on_while_plugged_in %>
</p>

<p>
  <strong>Settings usb mass storage enabled:</strong>
  <%= @system_setting.settings_usb_mass_storage_enabled %>
</p>

<p>
  <strong>Settings wifi:</strong>
  <%= @system_setting.settings_wifi %>
</p>

<p>
  <strong>Settings wifi ssid:</strong>
  <%= @system_setting.settings_wifi_ssid %>
</p>

<p>
  <strong>Settings location mode 3:</strong>
  <%= @system_setting.settings_location_mode_3 %>
</p>

<p>
  <strong>Settings location mode 17:</strong>
  <%= @system_setting.settings_location_mode_17 %>
</p>

<p>
  <strong>Device:</strong>
  <%= @system_setting.device_id %>
</p>

<%= link_to 'Edit', edit_system_setting_path(@system_setting) %> |
<%= link_to 'Back', system_settings_path %>
