<%= form_for(@app_session) do |f| %>
  <% if @app_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_session.errors.count, "error") %> prohibited this app_session from being saved:</h2>

      <ul>
      <% @app_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :app_session_timestamp_start %><br>
    <%= f.datetime_select :app_session_timestamp_start %>
  </div>
  <div class="field">
    <%= f.label :app_session_timestamp_end %><br>
    <%= f.datetime_select :app_session_timestamp_end %>
  </div>
  <div class="field">
    <%= f.label :app_session_timestamp_duration %><br>
    <%= f.datetime_select :app_session_timestamp_duration %>
  </div>
  <div class="field">
    <%= f.label :device_id %><br>
    <%= f.number_field :device_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
