<p id="notice"><%= notice %></p>

<p>
  <strong>App session timestamp start:</strong>
  <%= @app_session.app_session_timestamp_start %>
</p>

<p>
  <strong>App session timestamp end:</strong>
  <%= @app_session.app_session_timestamp_end %>
</p>

<p>
  <strong>App session timestamp duration:</strong>
  <%= @app_session.app_session_timestamp_duration %>
</p>

<p>
  <strong>Device:</strong>
  <%= @app_session.device_id %>
</p>

<%= link_to 'Edit', edit_app_session_path(@app_session) %> |
<%= link_to 'Back', app_sessions_path %>
